body {
  font-family: 'Montserrat-Black', sans-serif;
  background-color:#EAE7D9;

}
#title{
  background-color:#EAE7D9;

}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#442727;
}
h2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color:#442727;

}


h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color:#442727;

}

p {
  color:#442727;
;
}
.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Black',sans-serif;
}
.nav-link:hover{
  color:#442727;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  padding-right: 200px;
}
@media (max-width: 1028px) {
  .title-img{
    position: static;
  }
}

#features {
  padding: 0% 15%;
}

.featured-box {
  padding: 4.5%;
  text-align: center;
}

.icon {
  color:black;

  margin: 1rem;
}
.icon:hover{
  color:#442727;

}
#testimonials{
  padding: 3% 15%;
  text-align: center;
}
.logo{
width: 80%;
border-radius: 100%;
margin: 4.5% 4.5% 4.5% 20%;
}
.book{
  border-radius: 100%;
}
#press{
  padding-top: 4rem;
}
#footer{
  padding: 7% 15%;
  text-align: center;
background-color:#EAE7D9;
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact3 {
  font-family: "Montserrat", sans-serif;
  color:#442727;

  font-weight: 300;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color:#442727;

}

.contact3 .font-weight-medium {
  font-weight: 500;
}

hr{
margin-top: 40px;
}
.btn{
padding-left: 10px;
}
.card-shadow{
  padding-top: 80px;
}
.sta{
  font-weight: 200;
}
